@define-color bar-bg rgba(0, 0, 0, 0.3);

@define-color main-bg #24283b;
@define-color main-fg #7aa2f7;
@define-color main-fg-empty #787d8a;


@define-color wb-act-bg #bb9af7;
@define-color wb-act-fg #300606;

@define-color wb-vis-bg #7aa2f7;
@define-color wb-vis-fg #060630;

@define-color wb-hvr-bg #7ff5c6;
@define-color wb-hvr-fg #060630;
